<!doctype html>
<html>
<head>
	<title>CODENAME: Paradise</title>
	<link rel="stylesheet" type="text/css" href="/css/styles.min.css">
</head>
<body>

	<pre>


	The game starts	<button onclick="window.startGame()">Start</button>

	a WORLD is chosen &#10004;
	six (or more) PEOPLE are chosen &#10004;
	PEOPLE are given a LOCATION of inhabitance &#10004;
	a VICTIM is selected at random
	a MURDER WEAPON is chosen at random
	a MURDERER is chosen based on their RELATIONSHIP and potential MOTIVE with the VICTIM, as well as a random seed
	the MURDERER will have FOUR pieces of incriminating EVIDENCE
	two SUSPECTS are chosen
	the two SUSPECTS will have TWO pieces of incriminating EVIDENCE each
	the PLAYER must find the MURDERER before TIME runs out
	the PLAYER can present EVIDENCE to PEOPLE
	PEOPLE will give different responses depending on their MOOD, RELATIONSHIP and guiltiness
	</pre>

	<canvas id="world" style="display: none;"></canvas>
	<pre id="log">

	</pre>

	<script type="text/javascript" src="/scripts/script.js"></script>
</body>
</html>
