<!doctype html>
<html>
<head>
	<title>Paradise</title>
	<link rel="stylesheet" type="text/css" href="/css/styles.min.css">
</head>
<body>
	<canvas id="world" style="display: none;"></canvas>
	<div id="log">

	</div>

	<button onclick="window.startGame()">Start</button>
	<button onclick="window.debug = true; window.startGame('Islands', ['Zenith', 'Quazar', 'Jill', 'John']);">Start with test</button>

	<script type="text/javascript" src="/scripts/bundle.js"></script>
</body>
</html>
