<!doctype html>
<html>
<head>
	<title>CODENAME: Paradise</title>
	<link rel="stylesheet" type="text/css" href="/css/styles.min.css">
</head>
<body>
	<canvas id="world" style="display: none;"></canvas>
	<div id="log">

	</div>

	<button onclick="window.startGame()">Start</button> <button onclick="window.startGame('Islands', ['Zenith', 'Quazar', 'Jill', 'John'], 'John')">Start with test</button>

	<script type="text/javascript" src="/scripts/script.js"></script>
</body>
</html>
